.card:hover {
    transform:scale(1.01);
  }

.sol_rotate {
  animation: girar 30s linear infinite running;
}

.large {
  font-display: unset;
  font-size: larger;
  font-size-adjust: unset;
  font-stretch: ultra-condensed;
  font-weight: 30%;
}

.underline {
  border-bottom: 2px solid transparent;
}

.active a:hover {
    border-bottom: 2px solid rgb(76, 76, 182);
    font-style: oblique;
    font-stretch: narrower;
    color: orangered;  
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media (max-width: 60em) {

  table {
    width: 100%;
  }
  
  table tr{
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 57em) {

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 5px solid;
    border-color: dimgray;    
  }

  .solmini {
    width: 15%;
  }
}
