.card:hover {
    transform:scale(1.01);
  }

.sol_rotate {
  animation: girar 30s linear infinite running;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 60em) {

  table {
    width: 100%;
  }
  
  table tr{
    display: flex;
    flex-direction: column;
  }
}

